* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", cursive;
}

/* Flexbox is used for flexible layout */

body {
    background: #9127ef;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 700px;
    padding: 50px;
    align-self: center;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container>.row {
    width: 100%;
    justify-content: space-evenly;
}

.profile-icon {
    border-radius: 50%;
    border: 2px solid bisque;
}

.name {
    margin: 20px 0;
    font-size: x-large;
    font-weight: bold;
}

.score {
    font-size: xx-large;
}

.score>span {
    margin: 0 5px;
}

.round-runs {
    font-size: xx-large;
    width: 200px;
    justify-content: space-evenly;
}